#logo-div{
  cursor: pointer;
  display: flex;
  height: 100%;
  margin-top: 10px;
}

#header span {
  position: absolute;
  top: 0;
  margin-left: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
}

#logo-div:hover{
    opacity: 0.8;
}

#logo-div:focus {
    outline: none;
}

.spacer {
  flex: 1;
}

.loginbutton{
  margin-right: 20px;
  cursor: pointer;
}

#profile-image {
  filter: brightness(600%) contrast(600%);
  cursor: pointer;
}

#header #profile-image:hover {
    opacity: 0.8;
}

p{
  margin-right: 20px;
}

#username {
  margin-right: 20px;
}

#notification-button{
  margin-top: 15px;
  margin-right: 30px;
}

mat-icon{
  font-size: 30px;
}

#notification-link{
  text-decoration: none;
  color: #ffffff;
}