#header {
    color: white;
}

.loginbutton{
  margin-right: 20px;
  cursor: pointer;
}

#header img {
  margin: 0 16px;
}

#header #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

#header #twitter-logo:hover {
  opacity: 0.8;
}

.spacer {
  flex: 1;
}

#logo-div{
    cursor: pointer;
}

#logo-div:hover{
    opacity: 0.8;
}

#logo-div:focus {
    outline: none;
}

#header span {
    position: absolute;
    top: 0;
    height: 60px;
    display: inline-flex;
    align-items: center;
}

#header img {
    margin: 0 16px;
}

#header #profile-button {
    height: 40px;
    margin: 0 16px;
}

#header #profile-button:hover {
    opacity: 0.8;
}

#spacer {
    flex: 1;
}