.mat-progress-spinner {
    float:right;
    right:45%;
    margin-top:3px;
  }

mat-error + mat-error {
    display: none;
  }
.margin-for-forms{
    margin-top: 10px;
}
centered{
    right: 50%;
}
.center {
    top: 50%;
    left: 25%;
}

p {
  white-space: pre-wrap;
}