.item-card{
  display: block;
  width: 30%;
}

.mat-grid-tile{
  //background-color: lightblue;
}

.card-container{
  position: absolute;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.item-title{
  font-size: 1.25em;
  font-weight: normal;
  padding: 0;
}

.item-container {
  margin: auto;
  width: 100%;

}

.mat-grid-list{
  background-color:transparent;
}
