<div class="item-container">
  <div class="grid-item" *ngFor="let item of pageSlice">
      <div class="card">
        <img class="card-image" src="https://i.imgur.com/SGlPucc.png" alt="Photo of Lebron">
        <div class="card-container">
          <div class="card-header">
            <div class="item-title">
                {{ item.name }}
            </div>
          </div>
          <div class="card-subtitle">
            {{ item.category.categoryName }},
            {{ item.duration + " days" }}
          </div>
          <div class="card-actions">
            <button class="btn ml-3">Request item</button>
            <button class="btn">Show more</button>
          </div>
          <div class="card-footer">
            <span>Times viewed: {{ item.viewCount }}</span>
          </div>
        </div>
      </div>
  </div>
</div>

<div *ngIf="pageSlice.length > 6">
  <mat-paginator class="item-paginator" style="margin-top: 0.5rem;" [length]="this.items.length"
    [pageSize]="12"
    [pageSizeOptions]="[12]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>

<div *ngIf="pageSlice.length < 7">
  <mat-paginator class="item-paginator" style="margin-top: 22.5rem;" [length]="this.items.length"
    [pageSize]="12"
    [pageSizeOptions]="[12]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>





<!-- <mat-grid-list cols="6" rowHeight="1.05:1.5">
  <mat-grid-tile *ngFor="let item of items">
    <mat-card class="card-container">

    </mat-card>
  </mat-grid-tile>
</mat-grid-list> -->
