<mat-dialog-content id="item-dialog">
  <div id="item-dialog-header">
      <button mat-icon-button color="primary" class="close-button" [mat-dialog-close]="true">
          <mat-icon class="close-icon">close</mat-icon>
      </button>
  </div>
  <div id="item-information">
    <div *ngIf="checkIfImageIsSet(data.request.item)" id = "item-photos">
      <img class="card-image"  src="https://i.imgur.com/3m7URcq.png" alt="Item image" width="613" height="615">
    </div>
    <div *ngIf="!checkIfImageIsSet(data.request.item)" id = "item-photos">
      <img  class="card-image"  src="data:image/png;base64,{{data.request.item.image}}"  alt="Item image" width="613" height="615" /> 
  </div>
      <div id="item-content">
          <hr>
          <div>
              <p id="id">ID: {{ data.request.item.id }}</p>
              <p id="date">{{ data.request.item.dateCreated }}</p>
          </div>
          <hr>
          <div class="spacer"></div>
          <p>Category: {{ data.request.item.category['categoryName'] }}</p>
          <p>Duration: {{ data.request.item.duration + " days" }}</p>
          <p>Bookmarked by: {{ data.request.item.bookmarkCount + " user(s)" }}</p>
          <div class="spacer"></div>
          <p id="item-name">{{ data.request.item.name }}</p>
          <p>{{ data.request.item.description }}</p>
          <div *ngIf="this.router.url === '/requesteditems'">
            <label for="requesterName">Item requested by:</label>
            <span class="important-info" name="requesterName"> {{ data.request.requester.username }}</span>
            <div class="spacer"></div>
            <div class="row">
              <button mat-stroked-button (click)="openChat(data.request.id)">Chat</button>
            </div>
            <div class="spacer"></div>
            <div class="row">
              <button class="m-1" type="button" mat-stroked-button (click)="responseToRequest(data.request.id,true)" >Accept</button>
              <button class="m-1" type="button" mat-stroked-button (click)="responseToRequest(data.request.id,false)" >Decline</button>
            </div>
          </div>
          <div *ngIf="this.router.url === '/myrequesteditems'">
            <div *ngIf="data.request.responded">
              <span class="important-info"> Request was declined. </span>
              <div class="spacer"></div>
              <button type="button" mat-stroked-button (click)="removeRequest(data.request.id)">Remove request</button>
            </div>
            <div *ngIf="!data.request.responded">
              <span class="important-info"> Waiting for response from owner. </span>
              <div class="spacer"></div>
              <button mat-stroked-button (click)="openChat(data.request.id)">Chat</button>
              <div class="spacer"></div>
              <button type="button" mat-stroked-button (click)="removeRequest(data.request.id)">Remove request</button>
            </div>
          </div>

          <div *ngIf="this.router.url === '/borroweditems'">
            <span class="important-info"> You currently have this item. </span>
            <div class="spacer"></div>
            <button mat-stroked-button (click)="openChat(data.request.id)">Chat</button>
            <div class="spacer"></div>
            <label for="returnDate"> Item should be returned by </label>
            <br>
            <span class="important-info"> {{ dueDate(data.request.item.dateCreated, data.request.item.duration) }} </span>
          </div>
          <div *ngIf="this.router.url === '/lentitems'">
            <span class="important-info"> {{ data.request.requester.username + " currently has your item" }} </span>
            <div class="spacer"></div>
            <button mat-stroked-button (click)="openChat(data.request.id)">Chat</button>
            <div class="spacer"></div>
            <label for="returnDate"> Item should be returned by: </label>
            <br>
            <span class="important-info"> {{ dueDate(data.request.item.dateCreated, data.request.item.duration) }} </span>
            <div *ngIf="!data.request.returned" class="spacer"></div>
              <button type="button" (click)="itemReturned(data.request.id)"mat-stroked-button>Item returned</button>
          </div>
          <div *ngIf="this.router.url === '/historyitems'">
            <span class="important-info"> {{ data.request.requester.username + " was the requester" }} </span>
            <div class="spacer"></div>
            <label for="returnDate"> Item shared: </label>
            <br>
            <span class="important-info"> {{ data.request.shareDate.substr(0,10)+ " " + data.request.shareDate.substr(11,16)}} </span>
            <br>
            <label for="returnDate"> Item returned: </label>
            <br>
            <span class="important-info"> {{ data.request.returnDate.substr(0,10)+ " " + data.request.returnDate.substr(11,16)}} </span>
            <div *ngIf="!data.returned && !data.request.item.available" class="spacer">
              <button type="button"(click)="relistItem(data.request.id)" mat-stroked-button>Relist item</button>
            </div>
          </div>
      </div>
  </div>
</mat-dialog-content>

