<mat-dialog-content id="item-dialog" (click)="closeItemDialog()">
    <div id="item-dialog-header">
        <button mat-icon-button color="primary" class="close-button" [mat-dialog-close]="true">
            <mat-icon class="close-icon">close</mat-icon>
        </button>
    </div>
    <div id="item-information">
        <div id="item-photos">
            <img class="card-image" src="https://i.imgur.com/3m7URcq.png" alt="Item image">
        </div>
        <div id="item-content">
            <hr>
            <div>
                <p id="id">ID: {{ data.item.id }}</p>
                <p id="date">{{ data.item.dateCreated }}</p>
            </div>
            <hr>
            <div class="spacer"></div>
            <p>Category: {{ data.item.category['categoryName'] }}</p>
            <p>Duration: {{ data.item.duration + " days" }}</p>
            <div class="spacer"></div>
            <p id="item-name">{{ data.item.name }}</p>
            <p>{{ data.item.description }}</p>
            <div class="spacer"></div>
              <div class="action-div" *ngIf="!checkIfUserIsOwner() && !data.isItemRequested">
                <button type="submit" (click)="requestItem(data.item.id)" mat-stroked-button>Request item</button>
            </div>

            <div class="action-div" *ngIf="!checkIfUserIsOwner() && data.isItemRequested">
              <span class="important-info">Requested</span>
            </div>

            <div class="action-div" *ngIf="checkIfUserIsOwner()" (click)="openItemUpdateDialog(item)">
                <button type="submit" mat-stroked-button>Update item</button>
            </div>
        </div>
    </div>
</mat-dialog-content>
