<h1 mat-dialog-title>New group creation</h1>
<form [formGroup]="userCreationForm" (ngSubmit)="onSubmitGroup()" >
  <div id="dialog-content" mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Group name</mat-label>
        <input formControlName="name" id="name" matInput required>
        <mat-error *ngIf="userCreationForm.controls.name.errors?.required">
          Group name is mandatory
        </mat-error>
        <mat-error *ngIf="userCreationForm.controls.name.errors?.maxlength">
          Provide a shorter group name
        </mat-error >
      </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea formControlName="description" id="description" matInput></textarea>
      <mat-error *ngIf="userCreationForm.controls.description.errors?.maxlength">
        Provide a shorter description
      </mat-error >
    </mat-form-field>
  </div>
  <div id="group-creation-dialog-footer" mat-dialog-actions>
    <button type="button" color="warn" (click)="closeDialog()" mat-stroked-button>Cancel</button>
    <button type="submit" [disabled]="userCreationForm.invalid" mat-stroked-button>Create</button>
  </div>
</form>
