<h1 mat-dialog-title>New group creation</h1>
<form [formGroup]="userCreationForm" (ngSubmit)="onSubmit()" >
  <div id="dialog-content" mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Group name</mat-label>
        <input formControlName="name" id="name" matInput required>
      </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea formControlName="description" id="description" matInput></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button type="button" (click)="closeDialog()" mat-button>Cancel</button>
    <button type="submit" [disabled]="userCreationForm.invalid" mat-button>Create</button>
  </div>
</form>
