<h1 mat-dialog-title>New group creation</h1>
<div>
    <div class="dialog" mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Group name</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
    </div>
    <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button>Create</button>
    </div>
</div>
