#profile-navigation {
  position: fixed;
  right: 0;
  top: 80px;
  margin-left: 8px;
  margin-right: 8px;
  z-index: 1;
}

#profile-navigation a:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

a {
    display: flex;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #889097;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    padding: 16px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #1976d2;
    animation: fadeIn 0.5s linear;
    animation-fill-mode: both;
}

a:not(:last-child){
    margin-bottom: 8px;
}

$total-items: 4;

@for $i from 1 through $total-items {
  a:nth-child(#{$i}) {
    animation-delay: .15s * $i;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}