#body {
    width: 100%;
    top: 80px;
    bottom: 80px;
    display: flex;
    position: relative;
}

#left-sidebar {
    margin-left: 8px;
    margin-right: 8px;
}

#content {
    height: 100%;
    width: 100%;
    overflow: auto;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    position: relative;
}

.card {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin-bottom: 8px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #1976d2;
}

#card-container .card:hover{
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

svg.material-icons{
  margin-right: 8px;
  fill: #888;
}
