<h1 class="text-center">
  Add item
</h1>
<mat-dialog-content>
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="addItemForm" (ngSubmit)="onSubmitItem()">
      <div class="form-control">
        <mat-form-field appearance="fill" class="fill-parent-width">
          <mat-label color="primary" for="name">Title</mat-label>
            <input
              matInput
              type="text"
              formControlName="name"
              maxlength="51"/>
              <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <div *ngIf="name.errors.required">
                  <span class="alert">Provide a title</span>
                </div>
                <div *ngIf="name.errors.maxlength">
                  <span class="alert">Provide a shorter title</span>
                </div>
              </div>
        </mat-form-field>
      </div>
      <div class="form-control">
        <mat-form-field appearance="fill" class="fill-parent-width">
          <mat-label color="primary" for="description">Item description, lending process, etc.</mat-label>
            <textarea
              matInput
              type="textarea"
              formControlName="description"
              maxlength="1001"></textarea>
              <div *ngIf="description.invalid && (description.dirty || description.touched)">
                <div *ngIf="description.errors.required">
                  <span class="alert">Provide a description</span>
                </div>
                <div *ngIf="description.errors.maxlength">
                  <span class="alert">Provide a shorter description</span>
                </div>
              </div>
        </mat-form-field>
      </div>
      <div class="form-control">
        <mat-form-field appearance="fill" class="fill-parent-width">
          <mat-label color="primary" for="category">Category</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.categoryName }}</mat-option>
          </mat-select>
          <div *ngIf="category.invalid && (category.dirty || category.touched)">
            <div *ngIf="category.errors.required">
              <span class="alert">Select a category</span>
            </div>
          </div>
        </mat-form-field>
      </div>
      <div class="form-control">
        <mat-form-field appearance="fill" class="fill-parent-width">
          <mat-label color="primary" for="duration">Amount of days you can lend the item</mat-label>
            <input
              min="1"
              matInput
              type="number"
              formControlName="duration"/>
            <div *ngIf="duration.invalid && (duration.dirty || duration.touched)">
              <div *ngIf="duration.errors.required">
                <span class="alert">Provide the amount of days</span>
              </div>
              <div *ngIf="duration.errors.max">
                <span class="alert">You can lend the item for a maximum of 180 days</span>
              </div>
              <div *ngIf="duration.errors.min">
                <span class="alert">You have to lend the item for at least 1 day</span>
              </div>
            </div>
        </mat-form-field>
        <div class="dialog-footer">
          <button type="button" class="footer-btn m-1" color="warn" (click)="onCancel()" mat-stroked-button>Cancel</button>
          <button type="submit" class="footer-btn m-1" [disabled]="addItemForm.invalid" mat-stroked-button>Create</button>
        </div>
      </div>
</form>
  </div>

</mat-dialog-content>

