<!-- Main container -->
<div id="body">
    <div id="left-sidebar">
        <div id="image">
            <img id="profile-image"
            width="200"
            src="https://icons-for-free.com/iconfiles/png/512/profile+user+icon-1320166082804563970.png"
            alt="Profile button">
        </div>
        <mat-card id="profile-data">
            <p>
                <span>{{username}}</span>
                <a (click)="switchToFeedbacks()">{{feedbacksCount}} feedbacks</a>
            </p>
        </mat-card>
        <mat-card id="feedbackCreationButton" (click)="openFeedbackDialog()" *ngIf="!checkIfUserIsProfileOwner()">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
            Leave feedback
        </mat-card>
    </div>

    <div id="content">
        <mat-card id="switchToItemsButton" (click)="switchToItems()" *ngIf="!showItems">
            &#8249; Back to user items
        </mat-card>
        <items *ngIf="showItems"></items>
        <feedbacks *ngIf="!showItems"></feedbacks>
    </div>
</div>