mat-card {
    border: 1px solid #eee;
    height: 40px;
    width: 200px;
    margin-bottom: 8px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #1976d2;
}

.card.selected{
  background-color: #ff9900;
  color: black;
  font-weight: bold;
}

mat-card {
  cursor: pointer;
}
