.card {
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin-bottom: 8px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #1976d2;
}

svg.material-icons{
    margin-right: 8px;
    fill: #888;
}
