.card {
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin-bottom: 8px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #1976d2;
}

.selected{
    border: 1px solid #889097;
}

#card-container .card:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

svg.material-icons{
    margin-right: 8px;
    fill: #888;
}
