:host {
  display: flex;
  height: 100%;
  align-items: center;
}

mat-card-title{
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  color:white;
}

mat-card-subtitle{
  margin-left: 40px;
  text-align: center;
  color: white;
  opacity: 0.8;
  font-size: 20px;
}
h1 {
  font-size: 50px;
  line-height: 36px;
  margin-left: 30px;
  text-align: center;
}

h1 .light {
  font-weight: 100;
}

mat-card {
  margin: 0 auto;
  float: none;
  margin-bottom: 620px;
  width:700px;
}

mat-card-header {
  color: black;
  font:lighter
}

.fullBg {
  z-index:0;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 59px;
}
